extends bulma.pug

block head
    script(src="/jquery-3.4.1.min.js")
    script(src="/index.js")
    title LiteHell의 개인 RSS

block body
    section.hero.is-danger
        .hero-body
            .container
                h1.title LiteHell의 개인 RSS
                h2.subtitle 개인적으로 사용하기 위해 만든 RSS 서비스
    section.section
        .container
            h1.title Oops!
            h2.subtitle Something's wrong
            .content
                p 무언가 잘못됐습니다.
    footer.footer
        .content.has-text-centered
            p By #[a(href="https://litehell.info") LiteHell]