extends bulma.pug

block head
    script(src="/jquery-3.4.1.min.js")
    script(src="/index.js")
    title LiteHell의 개인 RSS

block body
    section.hero.is-primary
        .hero-body
            .container
                h1.title LiteHell의 개인 RSS
                h2.subtitle 개인적으로 사용하기 위해 만든 RSS 서비스
    section.section
        .container
            h1.title 웹툰 RSS
            h2.subtitle 네이버, 다음 웹툰
            .content
                p 네이버 웹툰과 다음 웹툰이 지원됩니다. 다음 웹툰리그는 지원되지 않습니다
            .card
                .card-content
                    .field
                        label.label 웹툰 주소
                        .control
                            input.input.webtoon-url(type="text", placeholder="웹툰 주소")
                    .field
                        label.label RSS
                        .control
                            input.input.webtoon-rss(type="text", placeholder="RSS", readonly)
                    .field
                        label.label Atom
                        .control
                            input.input.webtoon-atom(type="text", placeholder="Atom", readonly)
    section.section
        .container
            h1.title 중앙대학교 관련 공지사항
            h2.subtitle 중앙대학교 및 중앙대학교 소프트웨어대학과 관련된 공지사항들
            .content
                p 다음과 같은 RSS들을 제공하고 있습니다. CAU Notice는 #[a(href="https://www.cau.ac.kr/cms/FR_PRO_CON/BoardRss.do?pageNo=1&pagePerCnt=15&MENU_ID=100&SITE_NO=2&BOARD_SEQ=4&S_CATE_SEQ=&BOARD_TYPE=C0301&BOARD_CATEGORY_NO=&P_TAB_NO=&TAB_NO=&P_CATE_SEQ=&CATE_SEQ=&SEARCH_FLD=SUBJECT&SEARCH=") 이 RSS]를 이용해주세요.
                ul
                    each description, name in cauTitles
                        li #{description} : #[a(href=`/cau/${name}/rss`) RSS], #[a(href=`/cau/${name}/atom`) Atom]
    footer.footer
        .content.has-text-centered
            p By #[a(href="https://litehell.info") LiteHell]